.background {
    background-color: rgb(196, 134, 20);
    row-gap: 1vh;
    background-image: url('./../../public/background1.jpeg');
    background-size: cover;
    background-position: 0% 45%;
    height: 60vh;
}


.company {
    grid-column-start: 2;
    color: white;
    font-size: 2rem;
    font-weight:600;
    margin: 10px 0;
}