.taskbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.taskbar{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 10px;
    margin: 0 10px;
}

.menu_icon {
    height: 4vh;
    display: grid;
}

.menu_icon img{
    height: 4vh;
}

.category{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background:#333;
    display: flex;
    justify-content:center;
    padding: 4px;
    align-items: center;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.category img{
    margin: 5px;
    width: 0.8rem;
    height: 0.8rem;
}

.category .text {
    color: whitesmoke;
    height: fit-content;
}

.category .content{
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
}

.searchbar {
    width: 100%;
    max-width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    border-radius: 4px;
    overflow:hidden;
}

.searchbar input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 12px;
}

.searchbar .search-icon {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    background-color: rgb(220, 85, 23);
}

.searchbar img{
    height: 20px;
}

.language {
   width: 120px;
    height: 40px;
    border-radius: 4px;
    background:#fff;
    display: flex;
    justify-content:center;
    padding: 4px;
    align-items: center;
    font-size: 0.8rem;
}

.language img{
    margin: 5px;
    width: 0.8rem;
    height: 0.8rem;
}

.cart-section{
    display: flex;
    align-items: center;
}
.cart-section img{
    width: 1rem;
    margin: 0 2px;
}
.cart-section div{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.profile-section{
    display: flex;
    align-items: center;
}

.profile-section img{
    width: 1rem;
    margin: 0 2px;
}

.profile-section div{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}
